<!DOCTYPE html>
<html>
  <head>
    <title>Tunemapper</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        margin: 0;
        padding: 0;
        height: 100%;
      }
      div.info {
        float: left;
      }
      div.analbumcover {
        height: 126px;
        width: 126px;
        min-height: 126px;
        min-width: 126px;
        float: right;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script>
function initialize() {
  google.maps.visualRefresh = true;
  var mapOptions = {
    zoom: 14,
    center: new google.maps.LatLng({{ lat }}, {{ long }}),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  var infoWindow = new google.maps.InfoWindow();
  google.maps.event.addListener(map, 'click', function() { infoWindow.close() });
  var positions = {{ allPos|safe }};
  var markers = makeTrip(map, positions, infoWindow);
}

function makeTrip(map, positions, infoWindow) {
  var j = 0;
  var pts = positions.length;
  var markers = [];
  $.getJSON('{{ lastFmUrl|safe }}', null, function(data) {
    var tracks = data.recenttracks.track;
    for (;j<pts;j++) {
      var currentPos = positions[j];
      var listenTime = currentPos.time;
      var currentTrack = getCurrentTrack(tracks, listenTime);

      var markerOpts = {
        position: new google.maps.LatLng(currentPos.lat, currentPos.long),
        map: map,
        title: "Nothing scrobbled"
      }
      if (currentTrack) {
        markerOpts.title = "Listening to " + currentTrack.name + " by " + currentTrack.artist;
        markerOpts.icon = currentTrack.smallPic;
      }
      var marker = new google.maps.Marker(markerOpts);
      markers.push(marker);
      makeInfoWindow(currentPos, currentTrack, map, marker, infoWindow);
    }
  });
  return markers;
}

function getCurrentTrack(tracks, listenTime) {
  var numTracks = tracks.length;
  var si = 0;
  var currentTrack = null;
  while (si < numTracks) {
    var track = tracks[si];
    if (track.date && listenTime > parseInt(track.date.uts)) {
      currentTrack = {
        name: track.name,
        artist: track.artist['#text'],
        smallPic: track.image[0]['#text'],
        largePic: track.image[2]['#text']
      };
      break;
    }
    si++;
  }
  return currentTrack;
}

function makeInfoWindow(position, track, map, marker, infoWindow) {
    var txt = "<table><tr><td><ul><li>Time: " + new Date(position.time * 1000) + "</li>" + 
             "<li>Speed: " + position.spd + "</li>";
    if (track) {
        txt += "<li>Track: " + track.name + "</li>" + 
               "<li>Artist: " + track.artist + "</li>";
    }

    txt += "</ul></td>";

    if (track) {
        txt += "<td><div class='analbumcover'><img src='" + track.largePic + "'></div></td>";
    }

    txt += "</tr></table>";

    google.maps.event.addListener(marker, 'click', function() {
        infoWindow.setContent(txt);
        infoWindow.open(map, marker);
    });
}
google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>

