<!DOCTYPE html>
<html>
  <head>
    <title>Tunemapper - {{ selectedTrip.name }}</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css" />
    <link rel="stylesheet" href="//unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
    <link rel="stylesheet" href="/static/tunemapper.css" />
    <script src="//unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="/static/jquerybbq.min.js"></script>
    <script src="/static/SpeedPathOverlay.js"></script>
    <script src="/static/Tunemapper.js"></script>
    <script>
var tm = new Tunemapper('{{ lastFmUrl|safe }}', {{ allPos|safe }});
$( tm.initialize );
    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
    <div id="picker">
        Select a trip:<br/>
        <select>
            {% for trip in trips %}
            <option value="{{ trip.id }}"{% if trip.id == selectedTrip.id %} selected{% endif %}>{{ trip.name }}</option>
            {% endfor %}
        </select>
        <span id="loading">loading...</span>
    </div>
  </body>
</html>

